/* Add your styles here */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  padding: 1px;
  position: sticky;
  top: 0;
  z-index: 999;
}

#nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50%;
  width: 40%;
}

#nav-menu li {
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}

#home{
  margin: auto;
  width: 60%;
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#home .home-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#home div{
  margin-top: 1%;
  margin-left: 10%;
}

#home div h1{
  font-size: 32px;
  color: #8AAAE5;
}

#job-title {
  position: relative;
  display: inline-block;
  color: #8AAAE5;
  margin-top: 0px;
}

#job-title .cursor {
  display: inline;
}

#about{
  margin: auto;
  width: 60%;
  text-align: center;
}

#about h2{
  color: #8AAAE5;
}

#user-detail-name{
  text-align: center;
}

.skills-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skills-card-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

footer {
  background-color: black;
  padding: 10px;
  color: white;
  text-align: center;
}

.react-activity-calendar{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume-button-2{
  font-size: large;
  padding: 8px;
  background-color:  #8AAAE5;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

#resume-button-2:hover{
  color: #fff;
}

#skills {
  padding: 50px 0;
  /* background-color: ; */
  margin-top: 2%;
}

#skills h2 {
  text-align: center;
  color: #8AAAE5;
}

.skills-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 80%;
  margin: auto;
}

.skills-card {
  text-align: center;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 180px;
  height: 180px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
}

.skills-card-img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.skills-card-name {
  font-weight: bold;
  text-align: center;
}

.skills-card:hover{
  background-color: #8AAAE5;
}

.skills-card-img:hover{
  width: 110px;
  height: 110px;
}

#projects {
  padding: 50px 0;
  margin-top: 2%;
  text-align: center;
}

#projects h2 {
  color: #8AAAE5;
}

#project-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 20px;
  gap: 20px;
}

.project-card {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 2%;
  border-radius: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}

.project-image {
  max-height: 150px;
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
}

.project-content {
  flex: 1;
}

.project-description{
  height: 80px;
}

.project-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.project-description {
  margin-top: 10px;
  color: #666;
}

.project-tech-stack {
  margin-top: 10px;
  color: #888;
}

.project-links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.project-links a {
  text-decoration: none;
  font-size: 30px;
}

.project-links img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

#contact {
  width: 30%;
  margin: auto;
}
#contact h2{
  text-align: center;
  color: #8AAAE5;
}

#contact a{
  text-decoration: none;
  color: black;
}

.toggle-mode {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-mode input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider.round {
  border-radius: 20px;
}

.toggle-mode input:checked + .slider {
  background-color: #8AAAE5; /* Customize the color when the toggle is on */
}

/* Custom styling for the round toggle knob */
.slider.round::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gold;
  transition: transform 0.3s ease;
}

/* Move the toggle knob to the right when the toggle is on */
.toggle-mode input:checked + .slider.round::before {
  background-color: black;
  transform: translateX(20px); /* Move it to the right (width of the slider) */
}


/*Night mode*/
body.dark-mode  {
  background-color: #1a1a2e;
  color: #fff;
}

.dark-mode header {
  background-color: #000;
}

.dark-mode .nav-link {
  color: #fff;
}

.dark-mode .skills-card {
  background-color: #000;
  color: #fff;
}

.dark-mode .skills-card:hover {
  background-color: #8AAAE5;
}

.dark-mode .project-card {
  background-color: #000;
  color: #fff;
}

.dark-mode .project-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.dark-mode .slider.round {
  background-color: #000;
}

/* Custom styling for the round toggle knob */
.dark-mode .slider.round::before {
  background-color: #fff;
}

/* Move the toggle knob to the right when the toggle is on */
.dark-mode .toggle-mode input:checked+.slider.round::before {
  transform: translateX(20px); /* width of the slider */
}

/* Styles for elements that need to remain unchanged in night mode */
.dark-mode #home {
  background-color: transparent;
}

.dark-mode #home h1 {
  color: #8AAAE5;
}

.dark-mode #home p {
  color: #fff;
}

.dark-mode #about h2 {
  color: #8AAAE5;
}

.dark-mode #user-detail-name {
  color: #fff;
}

.dark-mode #resume-button-2 {
  background-color: #8AAAE5;
  color: #000;
}

.dark-mode #resume-button-2:hover {
  color: #fff;
}

.dark-mode #skills h2 {
  color: #8AAAE5;
}

.dark-mode #contact h2 {
  color: #8AAAE5;
}

.dark-mode #contact a {
  color: #fff;
}