/* Add your styles here */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(10, 136, 115);
  padding: 1px;
  position: sticky;
  top: 0;
  z-index: 999;
}

#nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50%;
  /* padding: 15px; */
  width: 40%;
}

#nav-menu li {
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}

#home{
  margin: auto;
  width: 60%;
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#home .home-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#home div{
  margin-top: 1%;
  margin-left: 10%;
}

#home div h1{
  font-size: 32px;
  color: rgb(10, 136, 115);
}

/* Adjust the styles of the job title and cursor as needed */
#job-title {
  position: relative;
  display: inline-block;
  color: rgb(10, 136, 115);
  margin-top: 0px;
}

#job-title .cursor {
  display: inline;
}

#about{
  margin: auto;
  width: 60%;
  text-align: center;
}
#user-detail-name{
  text-align: center;
}

.skills-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skills-card-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.react-activity-calendar{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume-button-2{
  font-size: large;
  padding: 8px;
  background-color:  rgb(10, 136, 115);
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

#resume-button-2:hover{
  color: #fff;
}

#skills {
  padding: 50px 0;
  background-color: #f9f9f9;
  margin-top: 2%;
}

#skills h2 {
  text-align: center;
  color: rgb(10, 136, 115);
}

.skills-card-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: flex-start;
}

.skills-card-container1 {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.skills-card-container2 {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  justify-content: center;
}

.skills-card-container3 {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  justify-content: center;
}

.skills-card {
  text-align: center;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 180px;
  height: 180px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
}

.skills-card-img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.skills-card-name {
  font-weight: bold;
  text-align: center;
}

.skills-card:hover{
  background-color: rgb(10, 136, 115);
}

.skills-card-img:hover{
  width: 110px;
  height: 110px;
}

#projects{
  padding: 50px 0;
  background-color: #f9f9f9;
  margin-top: 2%;
  text-align: center;
}

#project-container{
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.project-card {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  box-shadow:  0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 2%;
}

#project-container div:nth-child(1) img{
  min-height: 150px;
  min-width: 100%;
}

.project-card img {
  margin: auto;
  width: 100%;
}