/* Add your styles here */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 50px;
  }
  
  #home {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #about {
    background-color: #fff;
  }
  
  #skills {
    background-color: #f2f2f2;
  }
  
  #projects {
    background-color: #fff;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  h3 {
    margin: 10px 0;
  }
  
  #contact {
    background-color: #f2f2f2;
  }
  
  form input,
  form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  